.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.button-row button,
.button-row a {
  margin-right: 12px;
}

.menu-spacer {
  flex: 1 1 auto;
}

.titre {
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 20px;
  color: yellow;
}