.card {
  min-width: 100%;
  height: auto;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-top: 0;
}

.card-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  min-width: 90%;
}

.mat-table {
  overflow: auto;
}

a {
  cursor: pointer;
}

.img {
  max-width: 24%;
  max-height: 30%;
  align-content: left;
}

.card-item {
  margin-top: 5px;
}