.full-width {
    width: 100%;
  }

  .error-message {
    font-size: small;
    color: red;
    margin-top: 10px;
    margin-left: 10px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
 
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .img {
    max-width: 35%;
    align-content:center;
  }
