  .card {
    min-width: 100%;
    height: auto;
    margin-top: 0pt;
    margin-bottom: 0pt;
    padding-top: 0pt;
  }
  
  .card-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
  }
  
  a {
    cursor: pointer;
  }

  .img {
    max-width: 10%;
    max-height: 20%;
    align-content: left;
  }

  