<h2>Administration</h2>
<br/>
<ul *ngIf="isAdmin">
    <li *ngIf="isEditArticle || isModerateur || isAdmin">
        <h4>Validations</h4><br/>
        <div *ngIf="isEditArticle || isAdmin">
          <h5>Liste des articles à valider. ({{articlesAValider.length}})</h5>  
          <div *ngFor="let a of articlesAValider">
            <mat-card>
              <mat-card-title>{{a.titre}}</mat-card-title>
              <mat-card-subtitle>{{a.legende}}</mat-card-subtitle>
              <img class="img" src={{a.photo}} alt="Photo de Morières introuvable">
              <mat-card-content class="card-container">
                <div>
                  <pre>{{ a.texte }}</pre>
                </div>
                <mat-card-actions>
                  <div class="button-row">
                    <button  mat-raised-button color="accent" (click)="onValideArticle(a)">Valider l'article</button>
                    <button  mat-raised-button color="warn" (click)="onRejeteArticle(a)">Rejeter l'article</button>
                  </div>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          </div>
          <br/>
        </div>
    </li>
    <li *ngIf="isEditPhotosDeClasse || isModerateur || isAdmin">
      <div>
        <h5>Liste des photos de classe à valider. ({{photosAValider.length}})</h5>  
        <div *ngFor="let p of photosAValider">
          <mat-card>
            <mat-card-title>{{p.titre}}</mat-card-title>
            <mat-card-subtitle>{{p.annee}}</mat-card-subtitle>
            <img class="img" src={{p.photo}} alt="Photo introuvable">
            <mat-card-content class="card-container">
              <div>
                <pre>{{ p.listeEleves }}</pre>
              </div>
              <mat-card-actions>
                <div class="button-row">
                  <button  mat-raised-button color="accent" (click)="onValidePhoto(p)">Valider la photo de classe</button>
                  <button  mat-raised-button color="warn" (click)="onRejetePhoto(p)">Rejeter la photo de classe</button>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
        <br/>
      </div>
  </li>
  <li *ngIf="isEditPdf || isModerateur || isAdmin">
    <div>
      <h5>Liste des documents à valider. ({{pdfsAValider.length}})</h5>  
      <div *ngFor="let p of pdfsAValider">
        <mat-card>
          <mat-card-title>{{p.titre}}</mat-card-title>
          <mat-card-subtitle>{{p.description}}</mat-card-subtitle>
          <img class="img" src={{p.fichier}} alt="Document introuvable">
          <iframe *ngIf="p.fichier == p.fichier" class="e2e-trusted-url" [src]="p.fichier| safe: 'resourceUrl'" width="100%" height="1100px"></iframe>
          <mat-card-content class="card-container">
            <div>
              <pre>{{ p.description }}</pre>
            </div>
            <mat-card-actions>
              <div class="button-row">
                <button  mat-raised-button color="accent" (click)="onValidePdf(p)">Valider le document</button>
                <button  mat-raised-button color="warn" (click)="onRejetePdf(p)">Rejeter le document</button>
              </div>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
      <br/>
    </div>
</li>
<li *ngIf="isModerateur || isAdmin">
        <a routerLink="/app-liste-messages">Messages</a>
    </li>
    <li *ngIf="isAdmin">
        <a routerLink="/app-droits">Gérer les droits.</a>
    </li>
</ul>
