<h2 mat-dialog-title>Message :</h2>
<mat-dialog-content [formGroup]="messageForm">
    {{email}}
    <mat-form-field class="full-width">
        <mat-label>Ecrivez ici vôtre message.</mat-label>
        <textarea matInput cols="50" rows="3" formControlName="message" placeholder="Message"></textarea>
        <div>
            <mat-error class="error-message" *ngIf="messageForm.controls.message.hasError('maxlength') || messageForm.controls.message.hasError('required')">
                {{getErrorMessage('message')}}
            </mat-error>
        </div>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
<button class="mat-raised-button mat-primary" (click)="save()">Ok</button>
<button class="mat-raised-button" (click)="close()">Annuler</button>
</mat-dialog-actions>
