<h4>Validations</h4><br/>
<div *ngIf="isEditArticle || isAdmin">
  <h5>Liste des articles à valider : ({{articlesAValider.length}})</h5>  
  <div *ngFor="let a of articlesAValider">
    <mat-card>
      <mat-card-title>{{a.titre}}</mat-card-title>
      <mat-card-subtitle>{{a.legende}}</mat-card-subtitle>
      <img class="img" src={{a.photo}} alt="Photo de Morières introuvable">
      <mat-card-content class="card-container">
        <div>
          <pre>{{ a.texte }}</pre>
        </div>
        <mat-card-actions>
          <div class="button-row">
            <button  mat-raised-button color="accent" (click)="onValideArticle(a)">Valider l'article</button>
            <button  mat-raised-button color="accent" (click)="onEditeArticle(a)">Editer l'article</button>
            <button  mat-raised-button color="warn" (click)="onRejeteArticle(a)">Rejeter l'article</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <br/>
</div>
