.card {
  background-color: rgb(49,49,49);
}

.img{
  object-fit: cover;
  width: 200px;
  max-height: 290px;
}

mat-grid-tile {
  margin: 20px;
}

mat-grid-list {
  max-width: 97%;
}

.header-image {
  vertical-align: top;
}

button {
  font-size: large;
  border: 0px;
  margin: 20px;
}

.texte-entete {
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  margin-left: 150px;
}

pre {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: monospace;
  font-size: 1.6vh;
  white-space: pre-wrap;
  overflow-x: auto ;
  padding-bottom: 12px;
  box-sizing: border-box;
  color: white;
}

