.card {
  background-color: rgb(50,50,40);
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 45%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 40%;
}

mat-grid-tile {
  margin: 20px;
}

mat-grid-list {
  max-width: 97%;
}

.header-image {
  vertical-align: top;
}

button {
  background-color: rgb(40,40,50);
  font-size: large;
  border: 0px;
  margin: 20px;
}

.texte-entete {
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  margin-left: 150px;
}
