.card {
  max-width: 400px;
}

.header-image {
  background-size: cover;
  vertical-align: top;
}

button {
  background-color: rgb(40,40,50);
  font-size: large;
  border: 0px;
  margin: 20px;
}

.texte-entete {
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  margin-left: 150px;
}


